<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id="react"></div>
    <script src="/test.js" charset="utf-8"></script>
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.js"></script>
    <script>
        $.ajax({
            type:"get",
            url:"/api/findUserSimbo",
            success:function (res) {
                console.log(res)
            }
        })
    </script>
</body>
</html>